body {
  margin: 0;
  padding: 10px;
}
/* .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container > div {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-color: deeppink;
  color: rgb(37, 2, 37);
  text-align: center;
  line-height: 60px;
  margin: 5px;
  font-size: 20px;
}

.timon {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-color: transparent;
  text-align: center;
  line-height: 60px;
} */

#container {
  display: grid;
  background-color: green;
  padding: 20px;
  column-gap: 20px;
  row-gap: 10px;
  grid-template-columns: 200px 200px auto;
}

#container > .grid-items {
  background-color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
